html{
    font-size: 14px;
    color: rgb(175,175,175);
}
body{
    margin: 0;
}
ul,h1,h2,h3{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.wrapper{
    width: 1200px;
    margin:0 auto;
}
/* 顶部导航 */
.fast_nav{
    font-size: 15px;
}
.fast_nav>.wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.fast_nav.nav{
    float:left;
}
.fast_nav>.wrapper>.nav>ul>li{
    float: left;
    width: 70px;
    text-align: center;
    height: 60px;
    line-height: 4em;
    cursor: pointer;
}
.fast_nav .nav>ul >li:hover {
    color:#ffffff;
}
.fast_nav>.wrapper>.other{
    float: right;
    height: 60px;
    width: 80px;
    text-align: center;
    line-height: 4em;
}
.fast_nav{
    background-color: rgb(32, 32, 32);
    height: 60px;
}
/*图下导航*/
.content{
    background-color: #333;
}